.rspResult .hand {
  background-color: #808080;
  border: solid 2px #ffffff;
  padding: 50px;
  border-radius: 50%;
}

.rspResult .otherHand {
  background-color: #202020d7;
  border: solid 2px #e0e0e0;
  padding: 50px;
  border-radius: 50%;
}
